@import "../../bower_components/include-media/dist/_include-media.scss";

$main-font: 'Assistant', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono-font:  monospace, sans-serif;

$color-accent: #2e5b82;
$color-primary: #EAEBED;

body {
  background: $color-accent;
  font-family: $main-font;
  color: $color-primary;
  font-size: 12px;
  margin: 0
}

.content {
  margin-top: 10%;
  font-size: 1.3em;
  line-height: 30px;
  padding: 60px;
  text-align: center;

  h1 {
    font-weight: 200;
    font-size: 5em;
  }

  .coming-soon {
    letter-spacing: 2.5px;
    font-weight: bold;
    opacity: .8;
  }
}
h3 {
  position: fixed;
  bottom: 0; 
  width:100%; 
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 30px;
}

.browserupgrade {
  margin: 1em 0;
  background: $color-primary;
  color: #000;
  padding: 0.2em 1em;
  font-family: $mono-font;
}
img.resize{
   width:200px;
}

a:link{
  color: #66cc9a;
  text-decoration:none
}

@include media("<tablet") {
  .content {
    padding-left: 20px;
    padding-right: 20px
  }
}

@include media ("<500px") {
  body {
    font-size: 8px
  }
}