// bower:scss
// endbower

body {
  background: #007090;
  font-family: 'Assistant', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #EAEBED;
  font-size: 12px;
  margin: 0
}

.content {
  margin-top: 50px;
  margin-top: 20vh; // Use vh on supported browsers
  font-size: 1.3rem;
  line-height: 30px;
  padding: 60px;
  text-align: center;

  h1 {
    font-weight: 200;
    font-size: 5rem;
  }

  p .coming-soon {
    letter-spacing: 2.5px;
    font-weight: bold;
    opacity: .8;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
